body {
	background-image: url(../img/micro_carbon.png);
}

a:hover {
  text-decoration: none;
}

#footer {
	border-top: 1px solid #222222;
}

#footer > p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.title {
  text-transform: capitalize;
}
#item:hover{
  border: 1px solid #47A447;
}
.v-count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  color: #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #e3e3e3;
  border-radius: 10px;
}

.text-title {
  color: #fff;
  font-family: 'Amarante', cursive;
}

.text-indent {
  text-indent: 10px;
}

#item p {
  color: #5e5e5e;
}

.navbar-inverse {
   border-color: #184c22;
}

/* Cornor Ribbon */

.ribbon-wrapper-most {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: 11px;
}

.ribbon-most {
  font: bold 14px Sans-Serif;
  color: #fff;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ce0808;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ce0808), to(#a00909)); 
  background-image: -webkit-linear-gradient(top, #ce0808, #a00909); 
  background-image:    -moz-linear-gradient(top, #ce0808, #a00909); 
  background-image:     -ms-linear-gradient(top, #ce0808, #a00909); 
  background-image:      -o-linear-gradient(top, #ce0808, #a00909); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-most:before, .ribbon-most:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-most:before {
  left: 0;
}
.ribbon-most:after {
  right: 0;
}


/* Small devices (Mobile, 768px and minimum) */
@media (max-width: 768px) { 
  #item {
    margin-bottom: 10px;
  }

  #item_detail {
    margin-top: 20px;
  }

  .text-title {
    font-size: 12px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) { 
  #item {
    margin-bottom: 10px;
   /* height: 250px;*/
    margin-bottom: 20px;
  }

  #left_side {
    border-right: 1px solid #222222;
  }

  #item_description {
    margin-top: 10px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1000px) {
  #item {  
    height: 190px;
    margin-bottom: 20px;
  } 

  #left_side {
    border-right: 1px solid #222222;
  }

  #item_description {
    margin-top: 20px;
  }
}






